<style>
  .ml40 {
    margin-left: 40px;
  }

</style>
<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
      <div class="h2 mt-16">forms</div>
    </div>


  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>account_circle</mat-icon>
          Applicant
        </ng-template>
        <div *ngIf="form" style="padding-top:30px;" class="block">


          <mat-panel-title style="font-weight: bold; margin-top: 20px;">
            <mat-icon>account_box</mat-icon>
            <mat-panel-description style="padding-left:5px;" fxFlex="grow" fxLayoutAlign="space-between center">
              {{ 'Add_Edit_Form.STEP_0.LABEL' | translate }}
            </mat-panel-description>
          </mat-panel-title>

          <div style="padding-top:10px;" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-around center" fxFlex>

            <mat-form-field fxFlex="24">

              <input disabled matInput placeholder="{{ 'Add_Edit_Form.STEP_0.FNAME' | translate }}" [(ngModel)]="form.nameFarsi" required>
              <mat-icon matSuffix>person</mat-icon>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="24">

              <input disabled matInput placeholder="{{ 'Add_Edit_Form.STEP_0.FSNAME' | translate }}" [(ngModel)]="form.surnameFarsi" required>
              <mat-icon matSuffix>people</mat-icon>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="24">

              <input disabled matInput placeholder="{{ 'Add_Edit_Form.STEP_0.ENAME' | translate }}" [(ngModel)]="form.nameEnglish" required>
              <mat-icon matSuffix>person</mat-icon>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="24">

              <input disabled matInput placeholder="{{ 'Add_Edit_Form.STEP_0.ESNAME' | translate }}" [(ngModel)]="form.surnameEnglish"
                required>
              <mat-icon matSuffix>people</mat-icon>
              <mat-error>This field is required</mat-error>
            </mat-form-field>


            <!--<span fxFlex="30"></span>-->

            <mat-form-field fxFlex="24">
              <input disabled matInput type="email" placeholder="{{ 'Add_Edit_Form.STEP_0.EMAIL' | translate }}" [(ngModel)]="form.email"
                required>
              <mat-icon matSuffix>email</mat-icon>

              <mat-error *ngIf="formArray?.get([0,'email']).hasError('email') && !formArray?.get([0,'email']).hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="formArray?.get([0,'email']).hasError('required')">
                {{ 'ERROR_MESSAGES.REQUIRED' |translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="24">
              <!-- pattern="^(0|\+[1-9]{1,5})9[0-9]{9}$" -->
              <input disabled matInput type="tel" placeholder="{{ 'Add_Edit_Form.STEP_0.MOBILE' | translate }}" [(ngModel)]="form.mobileNo"
                required>
              <mat-icon matSuffix>smartphone</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex="24">
              <!-- pattern="^(0|\+[1-9]{1,5})9[0-9]{9}$" -->
              <input disabled matInput type="tel" placeholder="{{ 'Add_Edit_Form.STEP_0.PHONE' | translate }}" [(ngModel)]="form.lLandlinePhoneNo">
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex="24">
              <input disabled matInput placeholder="{{ 'Add_Edit_Form.STEP_0.SKYPE_ID' | translate }}" [(ngModel)]="form.skypeID">
              <mat-icon matSuffix>video_call</mat-icon>
            </mat-form-field>


            <mat-form-field fxFlex="24">
              <!-- <mat-icon matPrefix>today</mat-icon> -->
              <input disabled matInput [min]="minDate" [max]="maxDate" [matDatepicker]="birthDatePicker" placeholder="{{ 'Add_Edit_Form.STEP_0.BIRTH_DATE' | translate }}"
                [(ngModel)]="form.dateOfBirthPer" required>
              <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #birthDatePicker startView="year" [startAt]="startDate"></mat-datepicker>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="24">
              <mat-select [disabled]="true" placeholder="{{ 'Add_Edit_Form.STEP_0.MARITAL_STATUS' | translate }}" [(ngModel)]="form.maritalStatus"
                required>
                <mat-option *ngFor="let status of maritalStatusList" [value]="status.value">
                  {{ status.viewValue | translate }}
                </mat-option>
              </mat-select>

              <mat-icon matSuffix>wc</mat-icon>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="24">
              <input disabled matInput type="number" min="0" max="30" pattern="[0-9]" placeholder="{{ 'Add_Edit_Form.STEP_0.CHILDREN_NUM' | translate }}"
                [(ngModel)]="form.numberOfChildren">
              <mat-icon matSuffix>child_care</mat-icon>
            </mat-form-field>

            <div fxFlex="24"></div>
            <mat-form-field fxFlex="49">
              <textarea matInput placeholder="{{ 'Add_Edit_Form.STEP_0.FADDRESS' | translate }}" [(ngModel)]="form.residentialAddressFarsi"></textarea>
              <mat-icon matSuffix>map</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex="49">
              <textarea matInput placeholder="{{ 'Add_Edit_Form.STEP_0.EADDRESS' | translate }}" [(ngModel)]="form.residentialAddressEnglish"></textarea>
              <mat-icon matSuffix>map</mat-icon>
            </mat-form-field>
          </div>

          <!--<mat-divider></mat-divider>-->

          <mat-panel-title style="font-weight: bold; margin-top: 20px;">
            <mat-icon>font_download</mat-icon>
            <mat-panel-description style="padding-left:5px;" fxFlex="grow" fxLayoutAlign="space-between center">
              {{ 'Add_Edit_Form.STEP_1.LABEL' | translate }}
            </mat-panel-description>
          </mat-panel-title>

          <div style="padding-top:10px;" fxLayout="column">
            <div class="pt-24 pb-24">
              <label>{{ 'Add_Edit_Form.STEP_1.ENGLISH_LEVEL' | translate }}</label>
              <mat-radio-group [disabled]="true" [(ngModel)]="form.goodEnglish">
                <mat-radio-button class="mr-24 ml-24" *ngFor="let level of englishLevels" [value]="level.value">
                  {{ level.viewValue | translate }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-between center" fxFlex="1 0 auto">
              <label>{{ 'Add_Edit_Form.STEP_1.ENGLISH_LEVEL' | translate }}</label>
              <mat-form-field fxFlex="12" floatPlaceholder="never" *ngFor="let score of englishScores">
                <input disabled matInput type="number" min="0" max="999" pattern="^[0-9]{1,3}$" placeholder="{{ score.viewValue }}" [(ngModel)]="form[score.value[0]]">
                <mat-icon matPrefix>{{ score.icon }}</mat-icon>
              </mat-form-field>

            </div>

          </div>

          <mat-panel-title style="font-weight: bold; margin-top: 20px;">
            <mat-icon>school</mat-icon>
            <mat-panel-description style="padding-left:5px;" fxFlex="grow" fxLayoutAlign="space-between center">
              {{ 'Add_Edit_Form.STEP_2.LABEL' | translate }}
            </mat-panel-description>
          </mat-panel-title>

          <div *ngFor="let level of eduLevels" style="padding-top:10px;" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-around center"
            fxFlex>

            <span fxFlex="5" class="mat-title">{{level.label}}</span>
            <div fxFlex="15" *ngFor="let oneField of level.fields">
              <mat-form-field *ngIf="oneField.isInput==true">
                <input disabled matInput placeholder="{{ oneField.viewValue | translate }}" [(ngModel)]="form[oneField.value[0]]">
                <mat-icon matSuffix>{{oneField.icon}}</mat-icon>

              </mat-form-field>



              <mat-form-field *ngIf="oneField.isInput==false">
                <mat-select [disabled]="true" placeholder="{{ oneField.viewValue | translate }}" [(ngModel)]="form[oneField.value[0]]">
                  <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>

          <mat-panel-title style="font-weight: bold; margin-top: 20px;">
            <mat-icon>business</mat-icon>
            <mat-panel-description style="padding-left:5px;" fxFlex="grow" fxLayoutAlign="space-between center">
              {{ 'Add_Edit_Form.STEP_3.LABEL' | translate }}
            </mat-panel-description>
          </mat-panel-title>


          <div style="padding-top:10px;" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-around center" fxFlex>
            <div fxFlex="{{oneField.fxFlex}}" *ngFor="let oneField of workExperience">
              <mat-form-field style="width: 100%" *ngIf="oneField.isNumber==true">
                <input disabled matInput type="number" placeholder="{{ oneField.viewValue | translate }}" [(ngModel)]="form[oneField.value[0]]">
                <mat-icon matSuffix>{{oneField.icon}}</mat-icon>

              </mat-form-field>


              <mat-form-field style="width: 100%" *ngIf="oneField.isNumber==false">
                <textarea matInput placeholder="{{ oneField.viewValue | translate }}" [(ngModel)]="form[oneField.value[0]]"></textarea>
                <mat-icon matSuffix>{{oneField.icon}}</mat-icon>

              </mat-form-field>
            </div>
          </div>

          <mat-panel-title style="font-weight: bold; margin-top: 20px;">
            <mat-icon>wc</mat-icon>
            <mat-panel-description style="padding-left:5px;" fxFlex="grow" fxLayoutAlign="space-between center">
              {{ 'Add_Edit_Form.STEP_4.LABEL' | translate }}
            </mat-panel-description>
          </mat-panel-title>

          <div style="padding-top:10px;" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-around center" fxFlex>

            <div fxFlex="30" *ngFor="let oneField of militaryFields">
              <mat-form-field style="width: 100%" *ngIf="oneField.isInput">
                <input disabled matInput placeholder="{{ oneField.viewValue | translate }}" [(ngModel)]="form[oneField.value[0]]">
                <mat-icon matSuffix>{{ oneField.icon }}</mat-icon>

              </mat-form-field>

              <mat-form-field style="width: 100%" *ngIf="oneField.isInput==false">
                <input disabled matInput [min]="minDate" [max]="maxDate" [matDatepicker]="birthDatePicker" placeholder="{{ oneField.viewValue | translate }}"
                  [(ngModel)]="form[oneField.value[0]]">
                <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #birthDatePicker startView="year" [startAt]="startDate"></mat-datepicker>

              </mat-form-field>
            </div>
          </div>

          <mat-panel-title style="font-weight: bold; margin-top: 20px;">
            <mat-icon>airplanemode_active</mat-icon>
            <mat-panel-description style="padding-left:5px;" fxFlex="grow" fxLayoutAlign="space-between center">
              {{ 'Add_Edit_Form.STEP_5.LABEL' | translate }}
            </mat-panel-description>
          </mat-panel-title>

          <div style="padding-top:10px;" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-around center" fxFlex>

            <div fxFlex="30" *ngFor="let oneField of australiaFields">
              <mat-form-field style="width: 100%">
                <input disabled matInput placeholder="{{ oneField.viewValue | translate }}" [(ngModel)]="form[oneField.value[0]]">
                <mat-icon matSuffix>{{ oneField.icon }}</mat-icon>

              </mat-form-field>
            </div>
            <div fxFlex="30"></div>
          </div>

          <div class="pt-24 pb-24">
            <label>{{ 'Add_Edit_Form.STEP_5.VISATYPE' | translate }}</label>
            <mat-radio-group [disabled]="true" [(ngModel)]="form.australiaVisaType">
              <mat-radio-button class="mr-24 ml-24" *ngFor="let type of visaType" [value]="type.value">
                {{ type.viewValue | translate }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-panel-title style="font-weight: bold; margin-top: 20px;">
            <mat-icon>note</mat-icon>
            <mat-panel-description style="padding-left:5px;" fxFlex="grow" fxLayoutAlign="space-between center">
              {{ 'Add_Edit_Form.STEP_6.LABEL' | translate }}
            </mat-panel-description>
          </mat-panel-title>

          <div style="padding-top:10px;" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-around center" fxFlex>

            <div fxFlex="100" *ngFor="let oneField of notesFields">
              <mat-form-field style="width: 100%">
                <input disabled matInput placeholder="{{ oneField.viewValue | translate }}" [(ngModel)]="form[oneField.value[0]]">
                <mat-icon matSuffix>{{ oneField.icon }}</mat-icon>

              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>wc</mat-icon>
          Spouse
        </ng-template>

        <div *ngIf="form" style="padding-top:30px;" class="block">


          <mat-panel-title style="font-weight: bold; margin-top: 20px;">
            <mat-icon>account_box</mat-icon>
            <mat-panel-description style="padding-left:5px;" fxFlex="grow" fxLayoutAlign="space-between center">
              {{ 'Add_Edit_Form.STEP_0.LABEL' | translate }}
            </mat-panel-description>
          </mat-panel-title>

          <div style="padding-top:10px;" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-around center" fxFlex>

            <mat-form-field fxFlex="24">

              <input disabled matInput placeholder="{{ 'Add_Edit_Form.STEP_0.FNAME' | translate }}" [(ngModel)]="form.nameFarsiSp" required>
              <mat-icon matSuffix>person</mat-icon>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="24">

              <input disabled matInput placeholder="{{ 'Add_Edit_Form.STEP_0.FSNAME' | translate }}" [(ngModel)]="form.surnameFarsiSp"
                required>
              <mat-icon matSuffix>people</mat-icon>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="24">

              <input disabled matInput placeholder="{{ 'Add_Edit_Form.STEP_0.ENAME' | translate }}" [(ngModel)]="form.nameEnglishSp" required>
              <mat-icon matSuffix>person</mat-icon>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="24">

              <input disabled matInput placeholder="{{ 'Add_Edit_Form.STEP_0.ESNAME' | translate }}" [(ngModel)]="form.surnameEnglishSp"
                required>
              <mat-icon matSuffix>people</mat-icon>
              <mat-error>This field is required</mat-error>
            </mat-form-field>




            <!--<span fxFlex="30"></span>-->

            <mat-form-field fxFlex="24">
              <input disabled matInput type="email" placeholder="{{ 'Add_Edit_Form.STEP_0.EMAIL' | translate }}" [(ngModel)]="form.emailSp"
                required>
              <mat-icon matSuffix>email</mat-icon>

              <mat-error *ngIf="formArray?.get([0,'email']).hasError('email') && !formArray?.get([0,'email']).hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="formArray?.get([0,'email']).hasError('required')">
                {{ 'ERROR_MESSAGES.REQUIRED' |translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="24">
              <!-- pattern="^(0|\+[1-9]{1,5})9[0-9]{9}$" -->
              <input disabled matInput type="tel" placeholder="{{ 'Add_Edit_Form.STEP_0.MOBILE' | translate }}" [(ngModel)]="form.mobileNoSp"
                required>
              <mat-icon matSuffix>smartphone</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex="24">
              <!-- pattern="^(0|\+[1-9]{1,5})9[0-9]{9}$" -->
              <input disabled matInput type="tel" placeholder="{{ 'Add_Edit_Form.STEP_0.PHONE' | translate }}" [(ngModel)]="form.lLandlinePhoneNoSp">
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex="24">
              <input disabled matInput placeholder="{{ 'Add_Edit_Form.STEP_0.SKYPE_ID' | translate }}" [(ngModel)]="form.skypeIDSp">
              <mat-icon matSuffix>video_call</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex="24">
              <!-- <mat-icon matPrefix>today</mat-icon> -->
              <input disabled matInput [min]="minDate" [max]="maxDate" [matDatepicker]="birthDatePicker" placeholder="{{ 'Add_Edit_Form.STEP_0.BIRTH_DATE' | translate }}"
                [(ngModel)]="form.dateOfBirthPerSp" required>
              <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #birthDatePicker startView="year" [startAt]="startDate"></mat-datepicker>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="24">
              <mat-select [disabled]="true" placeholder="{{ 'Add_Edit_Form.STEP_0.MARITAL_STATUS' | translate }}" [(ngModel)]="form.maritalStatusSp"
                required>
                <mat-option *ngFor="let status of maritalStatusList" [value]="status.value">
                  {{ status.viewValue | translate }}
                </mat-option>
              </mat-select>

              <mat-icon matSuffix>wc</mat-icon>
              <mat-error>This field is required</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="24">
              <input disabled matInput type="number" min="0" max="30" pattern="[0-9]" placeholder="{{ 'Add_Edit_Form.STEP_0.CHILDREN_NUM' | translate }}"
                [(ngModel)]="form.numberOfChildrenSp">
              <mat-icon matSuffix>child_care</mat-icon>
            </mat-form-field>

            <div fxFlex="24"></div>


            <mat-form-field fxFlex="49">
              <textarea matInput placeholder="{{ 'Add_Edit_Form.STEP_0.FADDRESS' | translate }}" [(ngModel)]="form.residentialAddressFarsiSp"></textarea>
              <mat-icon matSuffix>map</mat-icon>
            </mat-form-field>

            <mat-form-field fxFlex="49">
              <textarea matInput placeholder="{{ 'Add_Edit_Form.STEP_0.EADDRESS' | translate }}" [(ngModel)]="form.residentialAddressEnglishSp"></textarea>
              <mat-icon matSuffix>map</mat-icon>
            </mat-form-field>
          </div>

          <!--<mat-divider></mat-divider>-->

          <mat-panel-title style="font-weight: bold; margin-top: 20px;">
            <mat-icon>font_download</mat-icon>
            <mat-panel-description style="padding-left:5px;" fxFlex="grow" fxLayoutAlign="space-between center">
              {{ 'Add_Edit_Form.STEP_1.LABEL' | translate }}
            </mat-panel-description>
          </mat-panel-title>

          <div style="padding-top:10px;" fxLayout="column">
            <div class="pt-24 pb-24">
              <label>{{ 'Add_Edit_Form.STEP_1.ENGLISH_LEVEL' | translate }}</label>
              <mat-radio-group [disabled]="true" [(ngModel)]="form.goodEnglishSp">
                <mat-radio-button class="mr-24 ml-24" *ngFor="let level of englishLevels" [value]="level.value">
                  {{ level.viewValue | translate }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-between center" fxFlex="1 0 auto">
              <label>{{ 'Add_Edit_Form.STEP_1.ENGLISH_LEVEL' | translate }}</label>
              <mat-form-field fxFlex="12" floatPlaceholder="never" *ngFor="let score of englishScores">
                <input disabled matInput type="number" min="0" max="999" pattern="^[0-9]{1,3}$" placeholder="{{ score.viewValue }}" [(ngModel)]="form[score.value[1]]">
                <mat-icon matPrefix>{{ score.icon }}</mat-icon>
              </mat-form-field>

            </div>

          </div>

          <mat-panel-title style="font-weight: bold; margin-top: 20px;">
            <mat-icon>school</mat-icon>
            <mat-panel-description style="padding-left:5px;" fxFlex="grow" fxLayoutAlign="space-between center">
              {{ 'Add_Edit_Form.STEP_2.LABEL' | translate }}
            </mat-panel-description>
          </mat-panel-title>

          <div *ngFor="let level of eduLevels" style="padding-top:10px;" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-around center"
            fxFlex>

            <span fxFlex="5" class="mat-title">{{level.label}}</span>
            <div fxFlex="15" *ngFor="let oneField of level.fields">
              <mat-form-field *ngIf="oneField.isInput==true">
                <input disabled matInput placeholder="{{ oneField.viewValue | translate }}" [(ngModel)]="form[oneField.value[1]]">
                <mat-icon matSuffix>{{oneField.icon}}</mat-icon>

              </mat-form-field>



              <mat-form-field *ngIf="oneField.isInput==false">
                <mat-select [disabled]="true" placeholder="{{ oneField.viewValue | translate }}" [(ngModel)]="form[oneField.value[1]]">
                  <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>

          <mat-panel-title style="font-weight: bold; margin-top: 20px;">
            <mat-icon>business</mat-icon>
            <mat-panel-description style="padding-left:5px;" fxFlex="grow" fxLayoutAlign="space-between center">
              {{ 'Add_Edit_Form.STEP_3.LABEL' | translate }}
            </mat-panel-description>
          </mat-panel-title>


          <div style="padding-top:10px;" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-around center" fxFlex>
            <div fxFlex="{{oneField.fxFlex}}" *ngFor="let oneField of workExperience">
              <mat-form-field style="width: 100%" *ngIf="oneField.isNumber==true">
                <input disabled matInput type="number" placeholder="{{ oneField.viewValue | translate }}" [(ngModel)]="form[oneField.value[1]]">
                <mat-icon matSuffix>{{oneField.icon}}</mat-icon>

              </mat-form-field>


              <mat-form-field style="width: 100%" *ngIf="oneField.isNumber==false">
                <textarea matInput placeholder="{{ oneField.viewValue | translate }}" [(ngModel)]="form[oneField.value[1]]"></textarea>
                <mat-icon matSuffix>{{oneField.icon}}</mat-icon>

              </mat-form-field>
            </div>
          </div>

          <mat-panel-title style="font-weight: bold; margin-top: 20px;">
            <mat-icon>wc</mat-icon>
            <mat-panel-description style="padding-left:5px;" fxFlex="grow" fxLayoutAlign="space-between center">
              {{ 'Add_Edit_Form.STEP_4.LABEL' | translate }}
            </mat-panel-description>
          </mat-panel-title>

          <div style="padding-top:10px;" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-around center" fxFlex>

            <div fxFlex="30" *ngFor="let oneField of militaryFields">
              <mat-form-field style="width: 100%" *ngIf="oneField.isInput">
                <input disabled matInput placeholder="{{ oneField.viewValue | translate }}" [(ngModel)]="form[oneField.value[1]]">
                <mat-icon matSuffix>{{ oneField.icon }}</mat-icon>

              </mat-form-field>

              <mat-form-field style="width: 100%" *ngIf="oneField.isInput==false">
                <input disabled matInput [min]="minDate" [max]="maxDate" [matDatepicker]="birthDatePicker" placeholder="{{ oneField.viewValue | translate }}"
                  [(ngModel)]="form[oneField.value[1]]">
                <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #birthDatePicker startView="year" [startAt]="startDate"></mat-datepicker>

              </mat-form-field>
            </div>
          </div>

          <mat-panel-title style="font-weight: bold; margin-top: 20px;">
            <mat-icon>airplanemode_active</mat-icon>
            <mat-panel-description style="padding-left:5px;" fxFlex="grow" fxLayoutAlign="space-between center">
              {{ 'Add_Edit_Form.STEP_5.LABEL' | translate }}
            </mat-panel-description>
          </mat-panel-title>

          <div style="padding-top:10px;" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-around center" fxFlex>

            <div fxFlex="30" *ngFor="let oneField of australiaFields">
              <mat-form-field style="width: 100%">
                <input disabled matInput placeholder="{{ oneField.viewValue | translate }}" [(ngModel)]="form[oneField.value[1]]">
                <mat-icon matSuffix>{{ oneField.icon }}</mat-icon>

              </mat-form-field>
            </div>
            <div fxFlex="30"></div>
          </div>

          <div class="pt-24 pb-24">
            <label>{{ 'Add_Edit_Form.STEP_5.VISATYPE' | translate }}</label>
            <mat-radio-group [disabled]="true" [(ngModel)]="form.australiaVisaTypeSp">
              <mat-radio-button class="mr-24 ml-24" *ngFor="let type of visaType" [value]="type.value">
                {{ type.viewValue | translate }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
