<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <div style="padding-top: 7px;" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{ 'Dialog.Add_Slotes.title' | translate }}</span>
      <button style="float: right;" mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
    </div>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>
    <form name="eventForm" [formGroup]="eventForm" class="event-form">
      <!--<mat-form-field>
        <input [ngxTimepicker]="picker">
        <ngx-material-timepicker #picker></ngx-material-timepicker>
      </mat-form-field>-->

      <div style="padding-top:10px;" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-around center" fxFlex>
        <!--<mat-form-field fxFlex="45">
          <input matInput [matDatepicker]="startDatePicker" placeholder="{{ 'Dialog.Add_Slotes.STARTDATE' | translate }}" name="start"
            formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
          <mat-error>{{ 'Global.ERRORFIELDREQUIRED' | translate }}</mat-error>
        </mat-form-field>-->
        <mat-form-field fxFlex="100">
          <input matInput [matDatepicker]="endDatePicker" (focus)="endDatePicker.open()" placeholder="{{ 'Dialog.Add_Slotes.DATE' | translate }}" name="end" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker ></mat-datepicker>
          <mat-error>{{ 'Global.ERRORFIELDREQUIRED' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="50">
          <!--<input >-->
          <input matInput [matTimepicker]="startPicker" placeholder="{{ 'Dialog.Add_Slotes.STARTTIME' | translate }}">
          <mat-timepicker-toggle matSuffix [for]="startPicker"></mat-timepicker-toggle>
          <mat-timepicker #startPicker color="primary"></mat-timepicker>
        </mat-form-field>

        <mat-form-field fxFlex="50">
          <!--<input >-->
          <input matInput [matTimepicker]="endPicker" placeholder="{{ 'Dialog.Add_Slotes.ENDTIME' | translate }}">
          <mat-timepicker-toggle  matSuffix [for]="endPicker"></mat-timepicker-toggle>
          <mat-timepicker #endPicker color="primary"></mat-timepicker>
        </mat-form-field>

        <!--<mat-form-field fxFlex="50">
          <input matInput formControlName="endTime" [matTimepicker]="picker" placeholder="{{ 'Dialog.Add_Slotes.ENDTIME' | translate }}">
          <mat-timepicker-toggle matSuffix [for]="picker"></mat-timepicker-toggle>
          <mat-timepicker #picker color="primary"></mat-timepicker>
          <mat-error>{{ 'Global.ERRORFIELDREQUIRED' | translate }}</mat-error>
        </mat-form-field>-->

        <mat-form-field class="w-100-p">
          <mat-select formControlName="consId" placeholder="{{ 'Dialog.Add_Slotes.CONSULRANT' | translate }}" required>
            <mat-option *ngFor="let oneCons of consultant" [value]="oneCons.id">
              {{ oneCons.username }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>person</mat-icon>
          <mat-error>{{ 'Global.ERRORFIELDREQUIRED' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100-p">
          <input matInput name="location" formControlName="location" placeholder="{{ 'Dialog.Add_Slotes.LOCATION' | translate }}" required>
          <mat-icon matSuffix>place</mat-icon>
          <mat-error>{{ 'Global.ERRORFIELDREQUIRED' | translate }}</mat-error>
        </mat-form-field>
      </div>
    </form>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button mat-raised-button class="save-button mat-accent" (click)="save(true,startPicker,endPicker)" [disabled]="eventForm.invalid" aria-label="SAVE">
            {{ 'Dialog.Add_Slotes.SAVEANDCLOSE' | translate }}
        </button>
    <button mat-raised-button class="save-button mat-accent" (click)="save(false,startPicker,endPicker)" [disabled]="eventForm.invalid" aria-label="SAVE">
            {{ 'Dialog.Add_Slotes.SAVE' | translate }}
        </button>

  </div>
</div>
