<!--component html goes here -->

<!--component html goes here -->
<h1 mat-dialog-title> {{'Dialog.Reset_Password.TITLE' | translate}}</h1>
<div mat-dialog-content>
  <form class="" [formGroup]="regiForm">

    <div style="padding-top:5px;" fxLayout="column" fxLayout.gt-md="row wrap" fxLayoutAlign.gt-md="space-around center" fxFlex>
      <mat-form-field fxFlex="100" style="width: 100%;">

        <input matInput placeholder="{{'Dialog.Reset_Password.OLDPASSWORD' | translate}}" formControlName="oldPassword" type="password">
        <mat-icon matSuffix>remove_red_eye</mat-icon>
        <mat-error>{{ 'Global.ERRORFIELDREQUIRED' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <input matInput placeholder="{{'Dialog.Reset_Password.NEWPASSWORD' | translate}}" formControlName="newPassword" type="password">

        <mat-icon matSuffix>remove_red_eye</mat-icon>
        <mat-error>{{ 'Global.ERRORFIELDREQUIRED' | translate }}</mat-error>
      </mat-form-field>

    </div>
  </form>
</div>
<div mat-dialog-actions>
  <!--<button mat-button (click)="onNoClick()">No</button>-->
  <button mat-button (click)="update()" cdkFocusInitial [disabled]="regiForm.invalid">{{'Dialog.Reset_Password.RESET' | translate}}</button>
</div>
