<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
    <div style="width: 100%;" fxLayout="column" fxLayoutAlign="center start" *ngIf="isCanseld==false">
      <label style="width: 100%;text-align: center"> Click on The buttom to cansel your appointment</label>
      <div class="h1 mt-16" style="margin: 0px auto;">
        <button mat-button (click)="cansel()" cdkFocusInitial>{{'Add_Edit_Form.BACK' | translate}}</button>
      </div>
    </div>
    <div style="width: 100%;" fxLayout="column" fxLayoutAlign="center start" *ngIf="isCanseld==true">
      <label style="width: 100%;text-align: center">Your Appintment is canseld</label>
    </div>

  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <!-- / CONTENT -->

</div>
