.circle {
  width: 30px;
  height: 30px;
  padding-top: 5px;
  background-color: #38ace0;
  color: white;
  border-radius: 50%;
}

.mainHeader {
  width: 100%;
  display: inline-block;
  padding-right: 5%;

  .title {
    padding: 20px 15px;
    margin: 0px;
    padding-left: 21%;
    float: left;
    width: fit-content;
  }

  button {
    background-color: #2094c8;
    color: white;
    margin-top: 15px;
  }
}

.myHr {
  border: 0;
  height: 1px;
  -webkit-box-shadow: 0px 0px 5px 1px #33a7db, 0px 0px 5px -1px #006b9a;
  box-shadow: 0px 0px 2px 1px #33a7db, 0px 0px 2px -1px #006b9a;
  margin: 20px 5% 20px 20%;
  background-color: #2094c8;
}
