<style>
  .stripes {
    background-image: repeating-linear-gradient(45deg, #ccc, #ccc 30px, #dbdbdb 30px, #dbdbdb 60px);
  }
</style>
<div class="col-md-12">
  <!--<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top" style="text-align: left;">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div class="cell-totals">
      <span *ngFor="let group of day.eventGroups" class="badge badge-{{ group[0] }}">
        {{ group[1].length }}
      </span>
    </div>
  </ng-template>
  <ng-template #tt let-events="openEvents" let-eventClicked="eventClicked">
    <div *ngFor="let event of openEvents; trackBy:trackByEventId"  [ngClass]="event?.cssClass" mwlDraggable [dropData]="{event: event}"
      [dragAxis]="{x: event.draggable, y: event.draggable}">
      <span class="cal-event" [style.backgroundColor]="event.color.primary">
      </span>
      <mwl-calendar-event-title [event]="event" [customTemplate]="eventTitleTemplate" view="month" (mwlClick)="eventClicked.emit({event: event})">
      </mwl-calendar-event-title>
    </div>
  </ng-template>
  <ng-template #rr let-event="event" let-view="view">
    <span class="cal-event-title" [innerHTML]="event.title | calendarEventTitle:view:event" [style.color]="'black'" ]>
    </span>
  </ng-template>-->

  <div id="calendar" dir="ltr" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <div class="header p-16 p-sm-24" [ngClass]="viewDate | date:'MMM'">

      <div class="header-content" fxLayout="column" fxLayoutAlign="space-between">

        <div class="header-top" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">

          <div class="logo mb-16 mb-sm-0" fxLayout="row" fxLayoutAlign="start center">

            <mat-icon class="logo-icon">today</mat-icon>

            <span class="logo-text">{{ 'Calender.TITLE' | translate}}</span>

          </div>

          <div class="toolbar" fxLayout="row" fxLayoutAlign="start center">

            <button mat-button class="mat-icon-button" mwlCalendarToday [(viewDate)]="viewDate"
              (viewDateChange)="selectedDay = {date:$event}" aria-label="Today" matTooltip="Today">
              <mat-icon>today</mat-icon>
            </button>
            <button mat-button class="mat-icon-button" (click)="changeView('day')" aria-label="Day" matTooltip="Day">
              <mat-icon>view_day</mat-icon>
            </button>

            <button mat-button class="mat-icon-button" (click)="changeView('month')" aria-label="Month"
              matTooltip="Month">
              <mat-icon>view_module</mat-icon>
            </button>
          </div>
        </div>
        <div class="header-bottom" fxLayout="row" fxLayoutAlign="center center">

          <button mat-button class="mat-icon-button arrow" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="changeDate($event)" aria-label="Previous">
            <mat-icon>chevron_left</mat-icon>
          </button>

          <div class="title" style="display: inline-block;">
            {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
          </div>

          <button mat-button class="mat-icon-button arrow" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
            (viewDateChange)="changeDate($event)" aria-label="Next">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      </div>

      <button *ngIf="isAllowed('Open/BlockCalendar')" mat-fab class="add-event-button mat-warn" (click)="addEventNew()"
        aria-label="Add event">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <ng-template #customCellTemplate let-day="day" let-locale="locale">
      <div class="cal-cell-top">
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }} </span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>

      <!-- @todo show real data -->
      <div class="cal-cell-consultants" *ngIf="day.badgeTotal == 1 ">
          <table class="full-width">
            <tbody>
  
              <tr>
                <td>
                  <h5 class="consultant-title">AG</h5>
                </td>
             
                <td>
                  <h5 class="consultant-reservation">
                    <div style="background-color: #4EB052" class="cal-event ng-star-inserted"></div> 24
                  </h5>
                </td>
             
                <td>
                  <div style="background-color: #DD5246" class="cal-event ng-star-inserted"></div>12
                </td>
                
              </tr>
              
              <tr>
                  <td>
                    <h5 class="consultant-title">ER</h5>
                  </td>
               
                  <td>
                    <h5 class="consultant-reservation">
                      <div style="background-color: #4EB052" class="cal-event ng-star-inserted"></div> 24
                    </h5>
                  </td>
               
                  <td>
                    <div style="background-color: #DD5246" class="cal-event ng-star-inserted"></div>12
                  </td>
                  
                </tr>
                <tr>
                    <td>
                      <h5 class="consultant-title">ER</h5>
                    </td>
                 
                    <td>
                      <h5 class="consultant-reservation">
                        <div style="background-color: #4EB052" class="cal-event ng-star-inserted"></div> 24
                      </h5>
                    </td>
                 
                    <td>
                      <div style="background-color: #DD5246" class="cal-event ng-star-inserted"></div>12
                    </td>
                    
                  </tr>
                  <tr>
                      <td>
                        <h5 class="consultant-title">ER</h5>
                      </td>
                   
                      <td>
                        <h5 class="consultant-reservation">
                          <div style="background-color: #4EB052" class="cal-event ng-star-inserted"></div> 24
                        </h5>
                      </td>
                   
                      <td>
                        <div style="background-color: #DD5246" class="cal-event ng-star-inserted"></div>12
                      </td>
                      
                    </tr>
                    <tr>
                        <td>
                          <h5 class="consultant-title">ER</h5>
                        </td>
                     
                        <td>
                          <h5 class="consultant-reservation">
                            <div style="background-color: #4EB052" class="cal-event ng-star-inserted"></div> 24
                          </h5>
                        </td>
                     
                        <td>
                          <div style="background-color: #DD5246" class="cal-event ng-star-inserted"></div>12
                        </td>
                        
                      </tr>
                      <tr>
                          <td>
                            <h5 class="consultant-title">ER</h5>
                          </td>
                       
                          <td>
                            <h5 class="consultant-reservation">
                              <div style="background-color: #4EB052" class="cal-event ng-star-inserted"></div> 24
                            </h5>
                          </td>
                       
                          <td>
                            <div style="background-color: #DD5246" class="cal-event ng-star-inserted"></div>12
                          </td>
                          
                        </tr>
                        <tr>
                            <td>
                              <h5 class="consultant-title">ER</h5>
                            </td>
                         
                            <td>
                              <h5 class="consultant-reservation">
                                <div style="background-color: #4EB052" class="cal-event ng-star-inserted"></div> 24
                              </h5>
                            </td>
                         
                            <td>
                              <div style="background-color: #DD5246" class="cal-event ng-star-inserted"></div>12
                            </td>
                            
                          </tr>
            </tbody>
          </table>
  
        </div>
    </ng-template>

    <div class="content" fusePerfectScrollbar>
      <div [ngSwitch]="view">
        <!--<mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [cellTemplate]="customCellTemplate"
          [openDayEventsTemplate]="tt" [eventTitleTemplate]="rr" (beforeViewRender)="beforeMonthViewRender($event)" [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>-->
        <div *ngIf="monthEvent.length > 0">
          <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="monthEvent"
            [refresh]="refresh" [openDayEventsTemplate]="tt" [eventTitleTemplate]="rr"
            (eventTimesChanged)="eventTimesChanged($event)" (eventClicked)="handleEvent('Clicked', $event.event)"
            (dayClicked)="dayClicked($event.day)" [cellTemplate]="customCellTemplate">
          </mwl-calendar-month-view>
        </div>

        <div *ngIf="monthEvent.length == 0">
          <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="monthEvent"
            [refresh]="refresh" [openDayEventsTemplate]="tt" [eventTitleTemplate]="rr"
            (eventTimesChanged)="eventTimesChanged($event)" [activeDayIsOpen]="activeDayIsOpen"
            (eventClicked)="handleEvent('Clicked', $event.event)" (dayClicked)="dayClicked($event.day)">
          </mwl-calendar-month-view>
        </div>

        <div *ngIf="dayEvent.length > 0">
          <mwl-calendar-day-view *ngSwitchCase="'day'" [tooltipPlacement]="'right'" [viewDate]="viewDate"
            [events]="dayEvent" [refresh]="refresh" (eventClicked)="handleEvent('Clicked',
            $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view>
        </div>
        <div *ngIf="dayEvent.length == 0">
          <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="dayEvent" [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view>
        </div>
      </div>
    </div>
  </div>
</div>