.search {
  .search {
    margin: 0px 10px;
    background-color: rgba(137, 201, 220, 0.3215686274509804);
  }

  .clear {
    margin: 0px 10px;
    background-color: rgba(137, 201, 220, 0.3215686274509804);
  }
}
