<!--component html goes here -->
<!--component html goes here -->
<div mat-dialog-content>
  <p>You have successfully booked your appointment. A confirmation has been sent to you via email</p>
  <p style="text-align: right;float: right;">وقت شما با موفقیت ثبت شد. یک ایمیل تائیدیه برای شما ارسال شد</p>
  <!--{{data | json}}-->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">OK</button>
  <!-- <button mat-button (click)="onYesClick()" cdkFocusInitial>{{'Dialog.Confirm_Add_Form.Yes' | translate}}</button> -->
</div>
