<!--component html goes here -->
<!--component html goes here -->
<mat-toolbar matDialogTitle class="mat-accent m-0">
  <div style="padding-top: 7px;" fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title dialog-title"  *ngIf="isAddedMessage==true">{{form.nameEnglish}} {{form.surnameEnglish}}</span>
    <span class="title dialog-title" *ngIf="isAddedMessage==false">Error</span>
  </div>
</mat-toolbar>

<div mat-dialog-content style="max-height: fit-con;padding: 10px;margin: 0px;">
  <div *ngIf="isAddedMessage==false">
    <b>Dear Client</b>
    <p>this information already exists in our system. If you have previously submitted another form, you cannot submit a new
      one now. If you are intending to change some details in your previous submission, please refer to the confirmation
      email you have received previously and access your previous form via provided Link. Otherwise please contact our Offices.
    </p>
    <b>Thanks and regards, Azzy Immigration Team</b>
  </div>
  <div *ngIf="isAddedMessage==true">
    <b style="float:  left;">Dear {{form.nameEnglish}} {{form.surnameEnglish}}</b>
    <br>
    <!--<p style="float: left;">Client Number : </p>
    <p> {{form.lLandlinePhoneNo}}</p>-->

    <b style="float:  left;">Subject :</b>
    <p style="margin: 0;">Confirmation of submitted Information</p>


    <b style="float:  left;">Client Number :</b>
    <p>{{form.clientNumber}}</p>

    <p>
      Thank you for sending your information through our application form. Our team is carefully processing all applications and
      will get back to you as soon as possible, which might take up to 14 working days. Within this time for any change or
      update of your submitted information, you can access your form by this link:
      <br>
      <a href="{{url}}">Link</a>
      <br> thank you for your patience .

    </p>
    <b>Best regards Azzy Immigration</b>

    <br>



    <b style="float:  right;">مشتری گرامى   {{form.nameFarsi}} {{form.surnameFarsi}} </b>
    <br>
    <b style="float:  right;">: موضوع </b>
    <p style="text-align: right;margin: 0;">رسید دریافت</p>
    <b style="float:  right;">: مشخصات مشتری شماره </b>
    <p style="text-align: right;margin: 0;">{{form.clientNumber}}</p>
    <br>


    <p style="text-align: right;">
      با کمال تشکراز ارسال مشخصات تان از طریق فرم درخواست مشاوره آنلاین آزی ایمیگریشن، به اطلاع شما میرساند، تیم اجرایی آزی ایمیگریشن
      در نهایت دقت نسبت به بررسی مشخصات شما اقدام نموده و در اسرع وقت شما را در جریان نتیجه این بررسی قرار خواهد داد که ممکن
      است تا 14روز کاری به طول انجامد. در طی این مدت انتظار، شما میتوانید از طریق <a href="{{url}}">لینک</a> زیر به
      فرم خود دسترسی داشته و اطلاعات آن را به روز نمایید.
    </p>
    <b style="float: right;">ارادتمند شما، تیم آزی ایمیگریشن</b>

  </div>

</div>
<div mat-dialog-actions style="padding: 10px;">
  <button mat-button (click)="onNoClick()">OK</button>
  <!--<button mat-button  (click)="onYesClick()" cdkFocusInitial>Yes</button>-->
</div>
