<!--component html goes here -->
<!--component html goes here -->
<h3 mat-dialog-title> {{'Dialog.Add_Appointment.TITLE' | translate}}</h3>

<div mat-dialog-content>
  <form class="example-form" style="width: 100%">
    <mat-form-field class="example-full-width" style="width: 100%">
      <input type="text" placeholder=" choose form" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.mobileNo">
          {{option.nameFarsi}}


          <!--<mat-chip-list *ngIf="option.appointmentId!=null">
            <mat-chip color="gray" selected="true">yes</mat-chip>
          </mat-chip-list>
          <mat-chip-list *ngIf="option.appointmentId==null">
            <mat-chip color="gray" selected="true">yes</mat-chip>
          </mat-chip-list>-->

        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">{{'Dialog.Add_Appointment.CANSEL' | translate}}</button>
  <button mat-button (click)="save()">{{'Dialog.Add_Appointment.ADD' | translate}}</button>
</div>
