<!--component html goes here -->
<!--component html goes here -->
<!--<h1 mat-dialog-title>Text Box Message</h1>-->
<div mat-dialog-content>
 <mat-list>
  <mat-list-item><b style="margin-right: 10px">{{'Dialog.View_Appointment.FROM' | translate}} : </b><label></label>{{appointment.date}}   {{appointment.bodyStart}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><b style="margin-right: 10px">{{'Dialog.View_Appointment.TO' | translate}} :</b><label>{{appointment.date}}   {{appointment.bodyEnd}}</label></mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item><b style="margin-right: 10px">{{'Dialog.View_Appointment.LOCATION' | translate}} :</b><label>{{appointment.meta.location}}</label></mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="click(null)">{{'Dialog.View_Appointment.NO' | translate}}</button>
  <button mat-button (click)="click(true)" >{{'Dialog.View_Appointment.OK' | translate}}</button>
</div>
