// Import Fuse main library
@import "app/core/scss/core";
// Import Angular Calendar Styles
// @import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../src/app/angular-calendar/css/angular-calendar.css";
// Import Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'app/main/content/calendar/calendar.component.scss';
// @import "~ng-pick-datetime/assets/style/picker.min.css";
// by fadi
[dir=rtl] .nav .nav-item .nav-link .nav-link-icon {
  margin-left: 16px;
  margin-right: 0;
}

[dir=rtl] .mr-16 {
  margin-left: 16px !important;
  margin-right: 0 !important;
}

[dir=rtl] .mr-8 {
  margin-left: 8px !important;
  margin-right: 0 !important;
}

.mat-step-icon .mat-icon {
  color: white !important;
  font-size: 19px;
  text-align: center;
  height: 22px;
  width: 16px;
  margin-top: 5px;
  margin-left: 0px;
}

.event-form-dialog {
  .mat-dialog-container {
    padding: 0;
    width: 480px;
  }
  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }
}

.w-time {
  min-height: auto !important;
  height: 400px !important;
}


.circleColor{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.mat-step-label{
  font-size: 12px !important;
}