<!--component html goes here -->

<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<div mat-dialog-content>
  <p>{{message}}</p>
  <!--{{data | json}}-->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button  (click)="onYesClick()" cdkFocusInitial>Yes</button>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->