<div class="col-md-9" style="margin-top: 20px;">

  <mat-form-field style="width: 100%;">
    <mat-select (selectionChange)="changeTimezone($event.value)" [(value)]="timezoneSelect"
      placeholder="{{ 'Calender.CHOOSETIMEZONE' | translate }}">
      <!--<ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>-->
      <mat-option *ngFor="let oneTimeZone of timeZoneArray" [value]="oneTimeZone.value">
        {{ oneTimeZone.viewValue }}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>time</mat-icon>
  </mat-form-field>


  <ngx-datatable class="material" [rows]="bodyevents" [columnMode]="'force'" [headerHeight]="48" [rowHeight]="'auto'"
    [scrollbarH]="true" [rowClass]="">
    <ngx-datatable-column [canAutoResize]="true" [flexGrow]="1" prop="date">
      <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
        <span>{{'Calender.DATE' | translate}}</span>
      </ng-template>

    </ngx-datatable-column>
    <ngx-datatable-column [canAutoResize]="true" [flexGrow]="1" prop="bodyEnd">
      <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
        <span>{{'Calender.TIME' | translate}}</span>
      </ng-template>
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template style="background-color: aqua">
        {{row.bodyStart}} -- {{row.bodyEnd}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [canAutoResize]="true" [flexGrow]="1" prop="meta.location">
      <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
        <span>{{'Calender.LOCATION' | translate}}</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{value}}
      </ng-template>
    </ngx-datatable-column>

    <!-- <ngx-datatable-column [canAutoResize]="true" [flexGrow]="1" prop="">

      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button mat-raised-button  class="save-button mat-accent" (click)="viewAppointment(row)">
          <span>{{'Calender.VIEW' | translate}}</span>
        </button>
      </ng-template>
    </ngx-datatable-column> -->
    <ngx-datatable-column [canAutoResize]="true" [flexGrow]="1" prop="">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <button mat-raised-button  class="save-button mat-accent" (click)="useAppointment(row)">
          <span>{{'Calender.BOOK' | translate}}</span>
        </button>

      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
<div class="col-md-3" style="margin-top: 40px;">
  <mat-card>

    <mat-calendar [selected]="selectedDate"  [minDate]="today" (selectedChange)="onSelect($event)"></mat-calendar>
  </mat-card>
</div>
